<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
<template>
  <el-select v-model="value1" placeholder="请选择省份" @change='province(value1)'>
    <el-option v-for="item in options.province" :key="item.id" :label="item.name" :value="item.id">
    </el-option>
  </el-select>
    <el-select v-model="value2" placeholder="请选择城市" @change='cityName(value2)'>
    <el-option v-for="item in city" :key="item.id" :label="item.name" :value="item.id">
    </el-option>
  </el-select>
   <el-select v-model="value3" placeholder="请选择区">
    <el-option v-for="item in county" :key="item.id" :label="item.name" :value="item.id">
    </el-option>
  </el-select>
</template>
</div>
</body>
</html>
<script type="text/javascript">
var Main = {
    data() {
      return {
        options:{
          'province':[
          {"id" : "1", "name" : "北京市"},
          {"id" : "2", "name" : "山西省"},
          {"id" : "3", "name" : "河北省"}
          ],
          "city":[
          {"cid" : "1", "id" : "1", "name":"海淀区"},
          {"cid" : "1", "id" : "2", "name":"西城区"},
          {"cid" : "1", "id" : "2", "name":"东城区"},
          {"cid" : "1", "id" : "2", "name":"东城区"},
          {"cid" : "1", "id" : "2", "name":"东城区"},
          {"cid" : "2", "id" : "5", "name":"大同市"},
          {"cid" : "2", "id" : "6", "name":"阳泉市"},
          {"cid" : "3", "id" : "7", "name":"石家庄"},
          {"cid" : "3", "id" : "8", "name":"蚌埠市"},
          {"cid" : "3", "id" : "9", "name":"张家口"}
          ],
          "county":[
          {"cid" : "1", "id" : "1", "name":"中关村"},
          {"cid" : "1", "id" : "2", "name":"五道口"},
          {"cid" : "2", "id" : "3", "name":"西直门"},
          {"cid" : "2", "id" : "4", "name":"新街口"},
          {"cid" : "2", "id" : "5", "name":"小西天"},
          {"cid" : "3", "id" : "6", "name":"东直门"},
          {"cid" : "3", "id" : "7", "name":"雍和宫"},
          {"cid" : "3", "id" : "8", "name":"北新桥"},
          {"cid" : "5", "id" : "9", "name":"城区"},
          {"cid" : "5", "id" : "10", "name":"南郊区"},
          {"cid" : "5", "id" : "11", "name":"开发区"}
          ]
          }, 
        value1: '',
        value2: '',
        value3: '',
        city:[],
        county:[]
      }
    },
    mounted:{
    
    },
    methods:{
     province(value){
          let cityName=[];
          for(let i=0;i<this.options.city.length;i++){
           if(value==this.options.city[i].cid){
            let obj={};
            obj.id=this.options.city[i].cid;
            obj.name=this.options.city[i].name;
             cityName.push(obj)
           }
          }
        this.city=cityName; 
        this.value2=''        
     },
     cityName(value){
       let cityName=[];
          for(let i=0;i<this.options.county.length;i++){
           if(value==this.options.county[i].cid){
            let obj={};
            obj.id=this.options.county[i].cid;
            obj.name=this.options.county[i].name;
             cityName.push(obj)
           }
          }
        this.county=cityName; 
        this.value3=''
     }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>